   
   
   <IfModule mod_headers.c>
    Header set Content-Security-Policy "default-src 'none'; script-src 'self' https://cdnjs.cloudflare.com 'sha256-f/s/2m4KTNtgGbrpJo7zm3bND1Ed4CuiOqPGNMKuj4g='; style-src 'self' https://cdnjs.cloudflare.com; img-src 'self'; font-src 'self'; connect-src 'self'; frame-src 'none'; object-src 'none'; base-uri 'self'; form-action 'self'; frame-ancestors 'none'; manifest-src 'self';"
    </IfModule>